#content {

    section {
        padding: 75px 0;
    }
    
    h2 {
        font-size: $section-title;
        text-align: center;
    }

    #banner {
        background-color: #CDCDCD;
        height: 80vh;
    }

    #best-seller-section {
        background-color: #F6F6F6;
    }
}