#header-page {
    padding-top: 15px;
    padding-bottom: 15px;

    .logo {
        margin: 0;
        
        a {
            color: #000;
            text-decoration: none;
            letter-spacing: 1px;
        }
    }
}