#announcement-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: $black;
    border: 1px solid $black;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    overflow: hidden;
}
