#content {

    section {
        padding: 75px 0;
    }
    
    h2 {
        font-size: $section-title;
        text-align: center;
    }

    #best-seller-section {
        background-color: #f6f6f6;
    }
}