/* Text */
$small-text: 12px;
$text: 14px;
$section-title: 24px;

/* Colors */
$black: #000;
$white: #FFF;
$red: #EA3A3A;
$green: #8dc740;

$burger: #CDCDCD;

/* Footer */
$footer-bg: #FAFAFA;
$footer-text: 12px;
$footer-header: 14px;