.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

    .product {
        position: relative;
        width: 49%;
        margin-bottom: 15px;
        padding-bottom: 40px;
        background-color: $white;
        border: 1px solid #CDCDCD;
        overflow: hidden;
    }

    .details {
        padding: 10px;
    }

    .name {
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
    }

    .price {
        font-size: 16px;
        color: $red;
        text-align: center;
    }

    .actions {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        border-top: 1px solid #CDCDCD;

        a {
            display: block;
            width: 50%;
            padding: 10px;
            text-align: center;

            &:last-child {
                border-left: 1px solid #CDCDCD;
            }
        }
    }
    
    .wish-link,
    .add-cart-link {
        font-size: 16px;
        user-select: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.70);
            color: $white;
        }
    }

    .image {
        position: relative;
        overflow: hidden;
    }

    .new {
        .image {
            &:before {
                content: 'NEW';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px 10px;
                background-color: $black;
                font-size: $small-text;
                color: $white;
            }
        }
    }

    .sale {
        .image {
            &:before {
                content: 'SALE';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px 10px;
                background-color: $red;
                font-size: $small-text;
                color: $white;
            }
        }

        .sale-price {
            opacity: 0.8;
            text-align: center;
            text-decoration: line-through;
        }
    }
    
    // .wish-link {
    //     user-select: none;

    //     &:hover {
    //         background-color: $red;
    //         color: $white;
    //     }
    // }

    // .add-cart-link {
    //     user-select: none;

    //     &:hover {
    //         background-color: $green;
    //         color: $white;
    //     }
    // }
}