#burger {
    display: block;
    position: relative;
    height: 30px;
    cursor: pointer;
    user-select: none;

  span {
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: $burger;
    border-radius: 3px;
    transform-origin: 4px 0;
    z-index: 90;
    transition:   transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

    &:first-child {
        transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
  }
  
  &.active {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 91;
      span {
        opacity: 0;
        background: #232323;

        &:first-child {
            opacity: 1;
            transform: rotate(45deg) translate(0, 0);
        }

        &:nth-last-child(2) {
            opacity: 1;
            transform: rotate(-45deg) translate(-9.5px, 8px);
        }
      }
  }
  
}

